// Для импорта в диспетчер подключений: @import './src/blocks/modal/modal.scss';

@import "../../scss/variables.scss";     // только для удобства обращения к переменным


$modal-backdrop-zindex:          1040 !default;
$modal-zindex:                   1050 !default;
$modal-backdrop-bg:              $black !default;
$modal-transition:               transform 0.3s ease-out !default;
$modal-dialog-margin:            0.5rem !default;
$modal-content-bg:               $white !default;
$modal-content-border-width:     $border-width !default;
$modal-content-border-color:     rgba($black, 0.2) !default;
$modal-header-padding:           1rem !default;
$modal-inner-padding:            1rem !default;
$modal-backdrop-opacity:         0.5 !default;
$modal-header-border-color:      $gray-lighter !default;
$modal-footer-border-color:      $modal-header-border-color !default;
$modal-header-border-width:      $modal-content-border-width !default;
$modal-footer-border-width:      $modal-header-border-width !default;
$modal--lg:                      800px !default;
$modal--md:                      500px !default;
$modal--sm:                      300px !default;
$modal-dialog-sm-up-margin-y:    $line-height !default;
$modal-content-sm-up-box-shadow: 0 5px 15px rgba($black, 0.5) !default;
$modal-content-xs-box-shadow:    0 3px 9px rgba($black, 0.5) !default;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-zindex;
  display: none;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  &--fade .modal__dialog {
    @include transition($modal-transition);
    transform: translate(0, -25%);
  }

  &--show .modal__dialog {
    transform: translate(0, 0);
  }

  &--open {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal__dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($border-radius);
  box-shadow: $modal-content-xs-box-shadow;
  outline: 0;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-backdrop-zindex;
  background-color: $modal-backdrop-bg;

  &--fade {
    opacity: 0;
  }

  &--show {
    opacity: $modal-backdrop-opacity;
  }
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $modal-header-padding;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
}

.modal__title {
  margin-bottom: 0;
  line-height: $line-height;
}

.modal__body {
  position: relative;
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

.modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $modal-inner-padding;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;

  > :not(:first-child) {
    margin-left: 0.25rem;
  }

  > :not(:last-child) {
    margin-right: 0.25rem;
  }
}

.modal__scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@include media-breakpoint-up(sm) {

  .modal__dialog {
    max-width: $modal--md;
    margin: $modal-dialog-sm-up-margin-y auto;
  }

  .modal__content {
    box-shadow: $modal-content-sm-up-box-shadow;
  }

  .modal--sm  .modal__dialog {
    max-width: $modal--sm;
  }
}

@include media-breakpoint-up(lg) {

  .modal--lg .modal__dialog {
    max-width: $modal--lg;
  }
}
