include ../icon/icon

mixin group(data)
  +b('section')(class='group' role='navigation')&attributes(attributes)
    +e('header')(class='header')
      +e('h2')(class='title')= data.title
        +e('span')(class='count')= data.count || ''
      +e('button')(type='button' class='add' data-toggle='tooltip' aria-label=data.label title=data.label)
        +icon({ name: 'add' })
   
    +e('ul')(class='list')
      each item in data.items
        +e('li')(class='item')
          +e('a')(class='link')
            +icon({ name: item.icon.name })   
            = item.name
