build/*
!build/readme.md
design/
src/blocks/sprite-svg--localstorage/img/*.svg
src/docs-files/docs.css
coverage/

.Saved/
_arc/
bower_components/
node_modules/
.vscode/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
.publish
ex_files
Thumbs.db
.happypack/
.happypack/cache--1.json
.happypack/s--1841476924
.happypack/s--1841476924.map
.gulp-scss-cache
.sass-cache
