mixin breadcrumbs(data)
  +b('ul')(class='breadcrumbs')&attributes(attributes)
    each item in data
      if item.active
        +e('li')(class='item breadcrumbs__item--active')
          +e('span')(class='link')= item.name
      else
        +e('li')(class='item')
          +e('a')(href='' class='link')= item.name
