include ../btn/btn

mixin alert(data)
  - data=data || {}
    if data.dismiss
      +b('article')(class='alert alert--dismissible alert--fade alert--show' role='alert')&attributes(attributes)
        +e('header')(class='header')
          if data.title
            +e('span')(class='title')= data.title
          +e(class='close')
            +btn('close')(data-dismiss='alert' aria-label='close')
              +e('span')(aria-hidden='true')
        block
    else  
      +b('article')(class='alert' role='alert')&attributes(attributes)
        if data.title
          +e('span')(class='title')= data.title
        block
