// Для импорта в диспетчер подключений: @import "./src/blocks/alert/alert.scss";

@import "../../scss/variables.scss";     // только для удобства обращения к переменным

$alert-padding-y: 1em;
$alert-padding-x: 1.5rem;
$alert-border-width: 1px;
$alert-border-radius: 0.3rem;
$alert-link-font-weight: 400;

.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: ($line-height / 2);
  color: $white;
  background: $gray-light;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);

  &--fade {
    opacity: 0;
    @include transition($transition-fade);
  }
}

.alert--fade.alert--show {
  opacity: 1;
}

.alert__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert__title {
  margin: 0;
  font-size: $font-size--h3;
  color: inherit;
}

.alert__link {
  font-weight: $alert-link-font-weight;
}

.alert--dismissible {
  // Adjust close link position
  .alert__close {
    color: inherit;
  }
}

.alert--success {
  @include alert-variant($color-success, $color-success, $white);
}

.alert--warning {
  @include alert-variant($color-main, $color-main, $white);
}

.alert--danger {
  @include alert-variant($color-danger, $color-danger, $white);
}
