include ../card/card

mixin accordion(data)
  +b('div')(id=data.id role='tablist' aria-multiselectable='false')
    if data.items
      each item, index in data.items
        +card({
          accId: data.id,
          index: index,
          item: item    
        })
    else
      block
