// В этом файле должны быть стили только для БЭМ-блока slack, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.


$sidebar-color: #4D384B;

.slack {
  display: grid;
  height: 100vh;
  grid-template-columns: 230px 1fr;
  grid-template-rows: minmax(100px, auto ) 1fr minmax(100px, auto);
  grid-template-areas: "sidebar header"
                       "sidebar main"
                       "sidebar footer";
}

.slack__sidebar {
  grid-area: sidebar;
  padding: 10px;
  background-color: $sidebar-color;
}

.slack__header {
  background-color: blue;
  grid-area: header;
}

.slack__main {
  background-color: yellow;
  grid-area: main;
}

.slack__footer {
  background-color: pink;
  grid-area: footer;
}
