// Для импорта в диспетчер подключений: @import './src/blocks/collapse/collapse.scss';

@import "../../scss/variables.scss";     // только для удобства обращения к переменным

$transition-collapse:    height 0.35s ease !default;

.collapse {
  display: none;

  &--show {
    display: block;
  }

  &--collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);
  }
}
