mixin grid-layout()
  +b(class='grid-layout')&attributes(attributes)
    +e(class='box') 1
    +e(class='box') 2
    +e(class='box') 3
    +e(class='box') 4
    +e(class='box') 5
    +e(class='box') 6
    +e(class='box') 7
    +e(class='box') 8
    +e(class='box') 9
    +e(class='box') 10
    +e(class='box') 11
    +e(class='box') 12
    //- +e(class='header') Header
    //- +e(class='sidebar') Sidebar
    //- +e(class='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam fuga amet odit beatae reprehenderit, ea nihil earum perspiciatis. Quis aperiam aspernatur quae nesciunt laudantium, animi, placeat voluptate velit, totam magnam odio esse. Modi, quos accusantium! Voluptatem animi optio doloribus ea esse veritatis repudiandae minus veniam et. Enim neque dicta recusandae eveniet. Est deserunt libero similique ipsam, necessitatibus nostrum, officia quas, earum dicta quod unde adipisci nobis voluptate quo quasi debitis illo accusantium ipsa sit, numquam repudiandae iste perspiciatis temporibus incidunt. Aperiam nisi consequatur reprehenderit inventore. Voluptatibus in aliquam est eius qui blanditiis soluta, exercitationem explicabo eveniet, earum ullam sequi eligendi temporibus debitis eaque ab, aliquid expedita sunt velit sed voluptatum facere nostrum natus nam. Illum consectetur autem officiis debitis doloremque harum quidem soluta blanditiis quo velit totam, asperiores, a non, cupiditate saepe eius facilis quam. Optio, voluptate, excepturi quo unde, similique delectus beatae deserunt sapiente mollitia quas recusandae aliquid, vero aliquam molestias expedita. A sapiente, ullam eos eligendi optio sint dicta odit ex illum? Commodi eius velit impedit excepturi qui at officia soluta molestias facere recusandae, quo numquam quidem fugiat blanditiis omnis maiores necessitatibus odio voluptates saepe fugit error. Error, vel aut non libero rerum, consequatur enim inventore ea. Exercitationem, sint, maiores. Repudiandae ipsa consequuntur cupiditate laboriosam inventore, nostrum provident aliquam, molestiae error quas sapiente laborum placeat mollitia unde dolore repellendus, odio. Accusamus ut excepturi repellat possimus consequuntur dolorum a vel eius nobis atque quam aut deserunt nam molestiae omnis quisquam eum beatae ea molestias suscipit perspiciatis inventore, fugit? Vel nesciunt dolor placeat maiores itaque ipsa, tempora perspiciatis minus ratione veritatis nulla reiciendis enim dolore illo laborum, est animi quis quo mollitia voluptas debitis voluptatem suscipit necessitatibus! Magni quos sapiente, labore praesentium culpa fugiat velit repudiandae quisquam ut aperiam animi nostrum ipsum rerum facere alias corporis voluptate excepturi ullam laudantium.
    //- +e(class='sidebar-right') Sidebar
    //- +e(class='footer') Footer
    //- +e(class='item')
    //-   .content
    //-     h2.title A 
    //- +e(class='item')
    //-   .content
    //-     h2.title B       
    //- +e(class='item')
    //-   .content
    //-     h2.title C        
    //- +e(class='item')
    //-   .content
    //-     h2.title D
    //- +e(class='item')
    //-   .content
    //-     h2.title E
    //- +e(class='item')
    //-   .content
    //-     h2.title F
