mixin grid-layout()
  +b(class='grid-layout')&attributes(attributes)
    +e(class='item')
      .content
        h2.title The Valley of Fear
        p.description  When McMurdo awoke next morning he had good reason to remember his initiation into the lodge. His head ached with the effect of the drink, and his arm, where he had been branded, was hot and swollen. Having his own peculiar source of income, he was irregular in his attendance at his work; so he had a late breakfast, and remained at home for the morning writing a long letter to a friend. Afterwards he read the Daily Herald.
   
