// В этом файле должны быть стили только для БЭМ-блока grid-layout, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

body {
  background: #1c1e22;
  color: $white;
}

@supports (display: grid) {

  .grid-layout {
    display: grid;
    grid-template-columns: repeat(4, [col] 100px);
    grid-template-rows: repeat(3, [row] auto);
    grid-gap: 1rem;
  }

  .grid-layout__item {
    background-color: red;

    &:first-child {
      grid-column: col / span 2;
      grid-row: row;
    }

    &:nth-of-type(2) {
      grid-column: col 3 / span 2;
      grid-row: row
    }

    &:nth-of-type(3) {
     grid-column: col;
     grid-row: row 2;
    }

    &:nth-of-type(4) {
    grid-column: col 2 / span 3;
    }

    &:nth-of-type(5) {
      grid-column: col / span 4;
      grid-row: row 3;
    }

    &:last-child {

    }
  }
}
