extends /blocks/layout/layout

include /blocks/off-canvas/off-canvas
include /blocks/btn/btn
include /blocks/tab/tab
include /blocks/dropdown/dropdown
include /blocks/grid-layout/grid-layout
include /blocks/modal/modal
include /blocks/tooltip/tooltip
include /blocks/collapse/collapse
include /blocks/accordion/accordion
include /blocks/card/card
include /blocks/collapse/collapse

block head
  - var pageTitle = 'Components';

block content
  +tab()
  +btn('button')(style='margin-top: 200px; margin-left: 200px;' data-toggle='tooltip' title='<i>Good morning d</i>') Открыть
  +btn('link')(data-toggle='collapse' data-target='#content') Collapse
  +collapse()(id='content') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae eligendi ratione ullam dolorem quod dolore nihil. Totam dignissimos soluta numquam.
