extends /blocks/layout/layout

include ../blocks/group/group

block head
  - var pageTitle = 'Components';

block content
  +b(class='slack')&attributes(attributes)
    +e('aside')(class='sidebar')
      +group()
    +e('header')(class='header')
      | dssfssdfsdf
    +e('main')(class='main')
    +e('footer')(class='footer')
