mixin dropdown()
  .dropdown
    button#dropdownMenuButton.btn--success.dropdown__toggle(type='button', aria-haspopup='true', aria-expanded='false')
      | Dropdown button
    .dropdown__menu(aria-labelledby='dropdownMenuButton')
      h4.dropdown__header skdjhfskfjshfksjh
      a.dropdown__item(href='#') Action
      a.dropdown__item.dropdown__item--disabled(href='#') Another action
      .dropdown__divider
      a.dropdown__item(href='#') Another action
      a.dropdown__item(href='#') Something else here
