mixin dropdown()
  +b(class='dropdown')&attributes(attributes)
    +e('button')(type='button' class='toggle dropdown__toggle--btn' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      | Dropdown button
    +e('div')(class='menu' aria-labelledby='')
      +e('h4')(class='header') Header
      +e('a')(href='#' class='item') Item 1
      +e('a')(href='#' class='item dropdown__item--disabled') Item 2
      +e('div')(class='divider') 
      +e('a')(href='#' class='item') Item 3
