mixin dropdown()
  .dropdown
    button#dropdownMenuButton.btn--success.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      | Dropdown button
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
      h4.dropdown-header skdjhfskfjshfksjh
      a.dropdown-item(href='#') Action
      a.dropdown-item.disabled(href='#') Another action
      a.dropdown-item(href='#') Something else here
      .dropdown-divider
      a.dropdown-item(href='#') Another action
      a.dropdown-item(href='#') Something else here
