// // Для импорта в диспетчер подключений: @import './src/blocks/dropdown/dropdown.scss';
//
@import '../../scss/variables.scss';     // только для удобства обращения к переменным
// The dropdown wrapper (`<div>`)

$caret-width: 10px;
$zindex-dropdown-backdrop:  990 !default;
$zindex-dropdown:           1000 !default;

$dropdown-min-width:             10rem !default;
$dropdown-padding-y:             .5rem !default;
$dropdown-margin-top:            .125rem !default;
$dropdown-bg:                    $white !default;
$dropdown-border-color:          rgba($black,.15) !default;
$dropdown-border-width:          $border-width !default;
$dropdown-divider-bg:            $gray-lighter !default;
$dropdown-box-shadow:            0 .5rem 1rem rgba($black,.175) !default;

$dropdown-link-color:            $gray-dark !default;
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg:         $gray-lightest !default;

$dropdown-link-active-color:     $component-active-color !default;
$dropdown-link-active-bg:        $component-active-bg !default;

$dropdown-link-disabled-color:   $gray-light !default;

$dropdown-item-padding-y:        .25rem !default;
$dropdown-item-padding-x:        1.5rem !default;

$dropdown-header-color:          $gray-light !default;

.dropdown {
  position: relative;

  &--show {

    > .dropdown__menu {
      display: block;
    }

    > a {
      outline: 0;
    }
  }

  &--up {

    .dropdown__toggle {

      &::after {
        border-top: 0;
        border-bottom: $caret-width solid;
      }
    }

    .dropdown__menu {
      top: auto;
      bottom: 100%;
      margin-bottom: $dropdown-margin-top;
    }
  }

  &--right {

    .dropdown__menu {
      right: 0;
      left: auto;
    }
  }

  &--left {

    .dropdown__menu {
      right: auto;
      left: 0;
    }
  }
}

.dropdown__toggle {

  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: $caret-width;
    vertical-align: middle;
    content: "";
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
  }

  &:empty::after {
    margin-left: 0;
  }
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y 0;
  margin: $dropdown-margin-top 0 0; // override default ul
  font-size: $font-size; // Redeclare because nesting can cause inheritance issues
  color: $body-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($border-radius);
  box-shadow: $dropdown-box-shadow;
}

.dropdown__divider {
  @include nav-divider($dropdown-divider-bg);
}

.dropdown__item {
  display: block;
  width: 100%;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  clear: both;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;

  @include hover-focus {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  &--active,
  &:active {
    color: $dropdown-link-active-color;
    text-decoration: none;
    background-color: $dropdown-link-active-bg;
  }

  &--disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    cursor: $cursor-disabled;
    background-color: transparent;

    @if $enable-gradients {
      background-image: none;
    }
  }
}

.dropdown__header {
  display: block;
  padding: $dropdown-padding-y $dropdown-item-padding-x;
  margin-bottom: 0;
  font-size: $font-size--small;
  color: $dropdown-header-color;
  white-space: nowrap;
}

.dropdown__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-dropdown-backdrop;
}
